html {
	line-height: 1.15; 
	-webkit-text-size-adjust: 100%;
 }
 body {
	 margin: 0; 
	 color:$dark !important;
	}
hr {
	box-sizing: content-box; 
	height: 0; 
	overflow: visible; 
}
pre {
	font-family: monospace, monospace; 
	font-size: 1em; 
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline; 
	text-decoration: underline dotted; 
}
a {
	color:inherit;
	text-decoration:unset;
	&:hover, &:visited, &:focus, &:active {
		color: inherit;
    	text-decoration: none;
	}
}


.complement{
	background: transparent;
	border:2px solid #fff;
	color:#fff;
}

li > ul,li > ol {margin-bottom: 0;margin-left: 1.5em;}



table {margin: 0 0 1.5em;width: 100%;}


h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	
}

h1 {font-size: 2em;margin: 0.67em 0;}
h2{
	text-transform:uppercase;
	font-weight:600 !important;
}
h3{
	font-size:35px;
	margin-bottom:25px;
	font-weight:500;
	color:$primary;
}
h4{
	font-size:20px;
	font-weight:500;
	margin-bottom:1rem;
}
h6{
	
	font-weight:600 !important;
	

}
p {
	margin-bottom: 1.15em;font-family: "Avenir", Arial, Helvetica, sans-serif;
}
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1em;
}
body,input,select,optgroup,textarea {
	color: #404040;
	font-family:"Avenir", Calibri, Arial, Helvetica, sans-serif !important;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	background:$primary;
	color:#fff;
}
.button, button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background: 0 0;
	border:1px solid $primary;
	width:100%;
	text-align: left;
    margin: 10px 0 10px 0px;
	color:$primary;
	border-radius: 0px;
	padding: 10px 17px;

	i {
		float:right;
		line-height:unset;
	}
	
}
iframe {
    width: 100%;
    height: 85vh;
}
button,input,optgroup,select,textarea {
	font-family: inherit; 
	font-size: 100%;
	line-height: 1.15; 
	margin: 0; 
}

button,select { text-transform: none;}
button,
[type="button"],
[type="reset"],
[type="submit"] {-webkit-appearance: button;}


fieldset {padding: 0.35em 0.75em 0.625em;}


.jumbotron.entry-image {
	display: table;
	width: 100%;
	margin-bottom: 0;
}
