html {
	line-height: 1.15; 
	-webkit-text-size-adjust: 100%;
 }
 body {
	 margin: 0; 
	 color:$dark !important;
	}
hr {
	box-sizing: content-box; 
	height: 0; 
	overflow: visible; 
}
pre {
	font-family: monospace, monospace; 
	font-size: 1em; 
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline; 
	text-decoration: underline dotted; 
}
a {
	color:inherit;
	&:hover, &:visited {
		color: inherit;
    	text-decoration: none;
	}
}