.site-footer{background:$primary; color:$white;}
.site-info{
	font-size:12px;
	text-align:center;
}
.footer-1{text-align:left;}
.footer-2{text-align: center;}
.footer-2 .widget_media_image{
	display:inline;
	padding:5px;
}
.footer-3{text-align:right;}
.widget ul {
	list-style: none;
	padding: 0;
}
div#skal_widget-2 {  font-size: 14px;}
.footer-main {font-size: 14px;}
.social { font-size: 20px;}
.social i.icofont-facebook {color: $white;}
.social i.icofont-linkedin {color: $white;}
.footer-main .row {text-align: center;}
.footer-1 {text-align: center;}
.footer-3 {text-align: center;}
.entry-footer{
	background:$white;
}