#wrapper-footer {
    background: $dark-alt;
    color:$white;


    .footer-inner {
        padding: 4.286em 0 1em;
        text-align:center;
        p {
            color:$white;
        }
       .menu-footer-nav-container {
            ul#menu-footer-nav {
                    list-style:none;
            }
       }

       .footer-left-content {
           text-align:left;
       }
       .footer-right-content {
        text-align:right;
    }
    }
    .site-footer{
        padding: 2em 0 2em;
        .site-info {
            text-align:center;
            font-size:rem(13);
        }
    }
}