.entry-header{
	background:$secondary;
	color:#fff;
	min-height:33px;
	opacity: 0.8;
}
.main-header {
  background:$white;
}
.site-branding{
  /*	display:inline-block;*/
    padding-top: 3px;
    padding-bottom: 3px;
    /*margin-right: 15px;*/
  }
  .site-branding img {
    display: block;
    /*margin-right: 15px;*/
    width: auto;
    max-width:unset;
    max-height: 104px;
    -webkit-transition:.5s ease;
    transition: .5s ease;
  }
  .shrink{ box-shadow: 0px -1px 11px #808080;}
  .shrink .site-branding img {max-height: 76px;}
  .search{
    float:right;
    font-size:30px;
    color:#000;
  }
  .nav-toggle {
    cursor: pointer;
    height: 30px;
    position: relative;
    float:right;
    top: calc( 50% - 15px );
    width: auto;
    z-index: 99999;
  }
  .nav-toggle:before {
  content: "";
  display: block;
  position: absolute;
    bottom: -20px;
    left: -20px;
    right: 0;
    top: -20px;
  }
  .nav-toggle .bar {
    background-color: #000;
    display: block;
    height: 2px;
    margin-top: 0;
    opacity: 1;
    position: absolute;
    right: 0;
    top: calc( 50% - 1px );
    transform: rotate( 0deg );
    transition: transform .2s ease-in 0s, margin 0.2s ease-in 0.2s, opacity 0s ease-in 0.25s;
    width: 22px;
    z-index: 1;
  }
  .customizer-preview .nav-toggle .bar {transition: background-color .2s ease-in-out;}
  .nav-toggle .bar:nth-child(1) { margin-top: -7px; }
  .nav-toggle .bar:nth-child(2) { margin-top: -1px; }
  .nav-toggle .bar:nth-child(3) { margin-top: 5px; }
  .nav-toggle.active .bar {
    transition: margin 0.2s ease-in, opacity 0s ease-in 0.2s, transform 0.2s ease-out 0.25s;
  }
  .nav-toggle.active .bar:nth-child(1) {
    margin-top: -1px;
    transform: rotate( 45deg );
  }
  .nav-toggle.active .bar:nth-child(2) {opacity: 0;}
  .nav-toggle.active .bar:nth-child(3) {
    margin-top: -1px;
    transform: rotate( -45deg );
  }
  .tagline{
    font-family: 'GetLost';
    color:#fab702;
    text-shadow: 0px 4px 4px #d6d6d6a6;
    padding: 7px 10px;
    display:inline-block;
    font-size: 21px;
    letter-spacing: 0.05rem;
  }
  .header-widget{float:right;}
  .header-widget a {
    padding: 0 1px;
    font-size:12px;
  }
  .site-nav {
    background: #fff;
    opacity: 0;
    padding:  0 !important;
    position: relative;
    box-shadow: 1px 1px 14px #0000007d;
    height:0;
    transform: translateY( 1rem );
    transition: opacity .3s ease-in-out, transform .3s ease-in-out, left 0s .3s, right 0s .3s;
    z-index: 20;
  }
  .shrink.active{box-shadow:none !important;}
  .site-nav.active {
    left: 0;
    position: absolute;
    right: 0;
    height:auto;
    opacity: 1;
    transform: translateY( 0 );
    transition: opacity .3s ease-in-out, transform .3s ease-in-out;
  }
  .site-nav .menus {
    overflow: auto;
    max-height: 100%;
  }
  .header-widget a i {
    padding: 4px;
    border-radius: 50%;
    font-size: 1.4em;
    line-height: 1.6em;
    height: 1.8em;
    width: 1.8em;
    text-align: center;
    border: 1px solid;
}
  .site-nav .menus > ul {
    float: left;
    width: calc( 50% - 10px );
  }
  .site-nav ul a {border-bottom: .1rem solid transparent;}
  .site-nav ul + ul a {color: rgba( 0, 0, 0, .35 );}
  .mob-menu{
    text-align: center;
    padding:15px 0;
  }
  .mob-menu li.menu-item {
    border-bottom: 1px solid #e0e0e0;
    font-size:18px;
    padding:10px;
  }
  ul#primary-menu {padding-inline-start: 0;}
  .site-header{
  /*	position: fixed;*/
    z-index: 999;
    top: 0;
    -webkit-transition:.5s ease;
    transition: .5s ease;
    background: #fff;
  }
  .nav-bar-separator {
    height: 0px;
  }
  .transparent-header{
    position: absolute;
    right:0;
    width:100%;
  }
  .nav-bar-container {

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  i.icofont-twitter {  color: #008ccc; border-color: #008ccc;}
  i.icofont-facebook{ color: #486eca; border-color: #486eca;}
  i.icofont-envelope {color: #3fbdce;border-color: #3fbdce;}
  .main-navigation ul {

    list-style: none;
    margin: 0;
    padding-left: 0;
  }
  .main-navigation ul ul {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    float: left;
    background:$white;
    position: absolute;
    top: 100%;
    left: -999em;
    z-index: 99999;
  }
  .main-navigation ul ul ul {left: -999em;top: 0;}
  .main-navigation ul ul li:hover > ul,
  .main-navigation ul ul li.focus > ul {left: 100%;}
  .main-navigation ul ul a {width: 200px;}
  .main-navigation ul li:hover > ul,
  .main-navigation ul li.focus > ul {left: auto;}
  .main-navigation li {position: relative;padding: 3px 0px 3px 29px;;}
  .main-navigation a {display: inline-block;text-decoration: none;}
  .menu-toggle,
  .main-navigation.toggled ul {display: block;}
  @media screen and (min-width: 37.5em) {
    .menu-toggle {display: block;}
    
  }
  .main-navigation .menu li {
    list-style: none;
    color:#999;
    display:inline-block;
  }
  .main-navigation .menu li:hover {
    list-style: none;
    color:$secondary;
    display:inline-block;
  }
  div#breadcrumb { background: #ececec;}
  .breadcrumbs {
  font-size: .875em;
  text-align: left;
  padding: 4px 0;
  color: #505050;
  }
  .breadcrumbs.has-full-width {
  padding-right: 120px;
  padding-left: 120px;
  }
  .breadcrumbs ul {padding: 0;margin: 0;}
  .breadcrumbs .delimiter {
  padding: 0 4px;
  color: #a8a8a8;
  }
  .breadcrumbs li {
  display: inline-block;
  padding: 0 2px;
  }
  .trail-items li::after {
  content: "" !important;
  padding: 0 !important;
  }
  .entry-meta{text-align:right; }
  .breadcrumbs li a {
  color: #505050;
  }
  li.trail-item.trail-end {font-weight: 700;}
  .breadcrumbs ul li a:after {
  content: ">";
  display: block;
  float: right;
  margin-left: 4px;
  padding: 0 4px;
  color: #505050;
  }
  .breadcrumbs li a:hover {
  color: #181818;
  text-decoration: none;
  }
  .elearn{
    color:#fff;
    min-height: 30px;
    text-align: right;
    display: block;
    font-size: 14px;
    padding: 5px 0 0 0;
  }

  header#masthead {
    position: relative;
    display: block;
}


.fa-ul ul.children {
	list-style: none;
    position: relative;
    padding: 0;
}

.entry-image {
    height: 230px;
	overflow: hidden;
	border-radius: 0;
}
.main-title{
	font-family: 'Gotham', Arial, Helvetica, sans-serif;
	font-size: 40px;
	color:#fff;
	text-align:center;
	display: table-cell;
	vertical-align: middle;
    text-shadow: 2px 2px 17px #1d1d1d;
    text-transform: uppercase;
}

.custom-logo-link {display: inline-block;}
img.custom-logo {
    max-height: 105px;
    width: auto;
}
li.current_page_item>ul>li.page_item a {
	font-weight: 400;
	display:list-item !important;
}
.current_page_item ul.children {
	font-weight: 400;
	display: list-item;
}
ul.children {display: none;}

