@font-face {
	font-family: 'GetLost';
	src: url('../fonts/GetLost.ttf');
	font-style:   normal;
	font-stretch: normal;
	}
	
	
		@font-face {
			font-family: 'Cabin';
			src: url('../fonts/Cabin-Regular.ttf');
			font-weight:  400;
			}

		@font-face {
			font-family: 'Cabin';
			src: url('../fonts/Cabin-Medium.ttf');
			font-weight:  500;
			}
		@font-face {
			font-family: 'Cabin';
			src: url('../fonts/Cabin-SemiBold.ttf');
			font-weight:  600;
			}
		@font-face {
			font-family: 'Cabin';
			src: url('../fonts/Cabin-Bold.ttf');
			font-weight:  700;
			}
		@font-face {
			font-family: 'Roboto';
			src: url('../fonts/Roboto-Thin.ttf');
			font-weight: 100;
		}
		@font-face {
			font-family: 'Roboto';
			src: url('../fonts/Roboto-Light.ttf');
			font-weight: 300;	
			}
		@font-face {
			font-family: 'Roboto';
			src: url('../fonts/Roboto-Regular.ttf');
			font-weight: 400;	
			}
		@font-face {
			font-family: 'Roboto Condensed';
			src: url('../fonts/RobotoCondensed-Light.ttf');
			font-weight: 300;
			
			}	
		@font-face {
			font-family: 'Roboto Condensed';
			src: url('../fonts/RobotoCondensed-Regular.ttf');
			font-weight: 400;
			
			}
		@font-face {
			font-family: 'Roboto Condensed';
			src: url('../fonts/RobotoCondensed-Bold.ttf');
			font-weight: 700;
			
			}	

