@font-face {
	font-family:'Open Sans';
	font-weight:300;
	font-style:normal;
	src:url('../fonts/OpenSans-Light.ttf')  format('truetype');
}
@font-face {
	font-family:'Open Sans';
	font-weight:400;
	font-style:normal;
	src:url('../fonts/OpenSans-Regular.ttf')  format('truetype');
}
@font-face {
	font-family:'Open Sans';
	font-weight:600;
	font-style:normal;
	src:url('../fonts/OpenSans-SemiBold.ttf')  format('truetype');
}
@font-face {
	font-family:'Open Sans';
	font-weight:700;
	font-style:normal;
	src:url('../fonts/OpenSans-Bold.ttf')  format('truetype');
}
@font-face {
	font-family:'Open Sans';
	font-weight:900;
	font-style:normal;
	src:url('../fonts/OpenSans-ExtraBold.ttf')  format('truetype');
}
@font-face {
	font-family:'Tondu';
	font-weight:500;
	font-style:normal;
	src:url('../fonts/Tondu_Beta.ttf')  format('truetype');
}