#news-feed {
    padding-top:2rem;
    .inner {
        background: $white;
        padding: 18px 15px;
        display: table;
        width:100%;
        height:100%;
    }
    h2 {
        text-align:center;
        padding: 2rem 0;
    }
   
    img {
        width:100%;
        height:100%;
    }
    .posts {
    }
    div#newsout{
        position: absolute;
        height: 100%;
        width:100%;
        padding: 3rem;
        text-align: center;
        .news-inner {
            color:$white;
            h4 {
                padding-bottom:$spacer;
                color:$white;
                
            }
            button {
                margin-top:$spacer;
                width: auto;
    color: #fff;
    border: 2px solid #fff;
            }
        }
    }
    
    .post-inner {
        width:100%;
       padding: 0.5em 1em 0.8em 1em;
       border: 1px solid $grey;
       &:hover {
        box-shadow: 1px 1px 9px 2px #e4e4e4;

       }
        .date {
            text-align:center;
            color:$primary;
            h6, h3 {
                margin-bottom:0;
                text-transform:uppercase;
            }
        }
        .news-heading {
            display:block;
            font-weight:600;
            line-height: 35px;
        }
        .link-front {
                z-index: 9999;
        }
        .meta {
            font-size:rem(11);
            color:$secondary;
        }
    }

    a.clicked .post-inner {
        border: 2px solid $grey;
    }
    .middle {
        margin: 5px 0;
    }
}
.feature-block .inner {
	background: $white;
	padding: 18px 15px;
	display: table;
	width:100%;
	height:100%;
}