#sponsors {
  padding:0;
    .spon-inner {
        position: relative;
        margin: auto;
        overflow: hidden;

        .content-overlay {
            background: rgba(0,0,0,0.7);
            position: absolute;
            height: 99%;
            width: 100%;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            opacity: 0;
            -webkit-transition: all 0.4s ease-in-out 0s;
            -moz-transition: all 0.4s ease-in-out 0s;
            transition: all 0.4s ease-in-out 0s;
        }
    }
    .spon-inner:hover .content-overlay{
        opacity: 1;
      }
      .content-image{
        height: auto;
         width: 100%;

      }
      .content-details {
        position: absolute;
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
        width: 100%;
        color:$white;
        top: 50%;
        left: 50%;
        opacity: 0;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
        p {
          color:$white;
          font-size:rem(13);
          font-weight:600;
        }
      }
      .spon-inner:hover .content-details{
        top: 50%;
        left: 50%;
        opacity: 1;
      }
      
      .fadeIn-top{
        top: 20%;
      } 
}

#sponsor-details {
  .card {
    border-radius:0;
    margin:1rem 0;
    box-shadow: 3px 2px 20px $light-grey;

    .card-img-top {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
  }

    .card-text:last-child {
      margin-bottom: 1rem; 
    }
    .card-body {
      button {
        width:auto;
      }
    }
  }
  
}